/* global css file */
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background: rgb(142,156,224);
    background: linear-gradient(90deg, rgba(142,156,224,1) 23%, rgba(148,150,181,1) 35%, rgba(168,194,222,1) 66%);
}

.xtimers-logo {
    max-width: 300px;
    height: auto;
    display: inline-block;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}

@media only screen and (max-width: 575px) {
    body {
        padding: 10px;
    }
}

@media only screen and (max-width: 390px) {
    .xtimers-logo {
        width: 60vw;
    }
    
}

.timer-cell-number {
    font-size: 92pt;
    margin-bottom: -5px;
}

.timer-emblem {
    position: absolute;
    bottom: 0;
    left: 16.7%;
    transform: translate(-50%, 30%);
    height: 100px;
}

@media only screen and (max-width: 992px) {
    .timer-cell-left{
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom: none !important;
    }
    .timer-cell-middle-left{
        border-bottom: none !important;
    }
    .timer-cell-middle-right{
        border-left: 10px solid;
    }
    .timer-cell-right{
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    .timer-emblem {
        left: 10.7% !important;
    }
}

@media only screen and (max-width: 432px) {
    .timer-cell-number {
        font-size: 50pt;
    }
}

/* {fontSize: "150pt", marginBottom: "-5px"} */
@media only screen and (min-width: 1436px) {
    .timer-cell-number {
        font-size: 150pt;
        margin-bottom: -5px;
    }

    .timer-emblem {
        /* {{position: 'absolute', bottom: '0', left: '16.7%', transform: "translate(-50%, 30%)"}} */
        position: absolute;
        bottom: 0;
        left: 16.7%;
        transform: translate(-50%, 30%);
        height: 250px;
    }
}

.timer-header {
    font-size: 70pt;
}

.timer-text {
    font-size: 50pt;
}

@media only screen and (max-width: 991px) {
    .timer-header {
        font-size: 50pt;
    }
    .timer-text {
        font-size: 45pt;
    }
}

@media only screen and (max-width: 700px) {
    .timer-header {
        font-size: 40pt;
    }
    .timer-text {
        font-size: 35pt;
    }
}

@media only screen and (max-width: 500px) {
    .timer-header {
        font-size: 30pt;
    }
    .timer-text {
        font-size: 25pt;
    }
}

@media only screen and (max-width: 400px) {
    .timer-header {
        font-size: 20pt;
    }
    .timer-text {
        font-size: 15pt;
    }
}


/* Fonts */
.arial-font{
    font-family: Arial, Helvetica, sans-serif !important;
}

.cambria-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.verdana-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.times-new-roman-font{
    font-family: 'Times New Roman', Times, serif !important;
}

.trebuchet-font{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

/* Timers */

/* Timer 1 - std */
.timer1 div {
    border-color: rgb(68, 68, 75) !important;
    background-color: rgb(236, 235, 231);
    box-shadow: inset 15px 0 20px -5px rgb(184, 184, 184), inset -14px 0 20px -5px rgb(184, 184, 184);
}

/* Timer 2 - xmas */
.timer2 div {
    border-color: rgb(31, 177, 43) !important;
    background-color: rgb(248, 7, 7);
    box-shadow: inset 15px 0 20px -5px rgb(233, 233, 233), inset -14px 0 20px -5px rgb(233, 233, 233);
}

/* Timer 3 - blues */
.timer3 div {
    border-color: rgb(76, 89, 151) !important;
    background-color: rgb(91, 187, 190);
    box-shadow: inset 15px 0 20px -5px rgb(168, 156, 211), inset -14px 0 20px -5px rgb(168, 156, 211);
}

/* Timer 4 - New Years */
.timer4 div {
    border-color: rgb(102, 104, 6) !important;
    background-color: rgb(240, 200, 68);
    box-shadow: inset 15px 0 20px -5px rgb(203, 204, 120), inset -14px 0 20px -5px rgb(203, 204, 120);
}